@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["AddNewTag"];
}

@Html.ActionLink("Back", "Index", "Profile", routeValues: null, new { @class = "btn btn-secondary" })
<br />
<h2 style="text-align:center">@Localizer["AddNewTag"]</h2>
<br />
<form asp-action="AddTag" asp-controller="Tags">
    <div class="card text-white bg-secondary align-items-center" style=" max-width:30%; margin: 0 auto;">
        <div class="card-header col">@Localizer["NewTag"]</div>
        <div class="card-body col">
            <h4 class="card-title col">@Localizer["AddNewTag"]</h4>
            <input type="text" value="" name="TagName" class="form-control" placeholder="Enter tag name" />
        </div>
        <button type="submit" class="btn btn-secondary col" style=" margin: 0 auto;">@Localizer["Save"]</button>
    </div>
</form>