@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model DAL.Models.User

@{
    ViewBag.Title = @Localizer["AddNewComposition"];
}

<link href="~/css/composition.css" rel="stylesheet" />
<br />
<h2 style="text-align:center">@Localizer["AddNewComposition"]</h2>
<br />
<form asp-action="Add" asp-controller="Composition">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["Author"]</label>
                <div class="col-sm-10">
                    <input type="text" name="Author" value="" class="form-control" id="author" placeholder="Enter author">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["Title"]</label>
                <div class="col-sm-10">
                    <input type="text" name="TitleComposition" value="" class="form-control" id="titleComposition" placeholder="Enter title composition">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["ShortDescription"]</label>
                <div class="col-sm-10">
                    <textarea class="form-control" value="" name="ShortDescription" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["Fandom"]</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fandom" value="" name="Fandom" placeholder="Enter fandom">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["Tags"]</label>
                <div class="col-sm-10">
                    <p>@Localizer["Message1"]</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["Chapters"]</label>
                <div class="col-sm-10">
                    <p>@Localizer["Message2"]</p>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">@Localizer["Add"]</button>
    </div>
</form>
@Html.ActionLink("Back", "Index", "Profile", routeValues: null, new { @class = "btn btn-secondary" })
