
@model FanFics.ViewModels.CompositionViewModel
@{
    ViewBag.Title = "Edit composition";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/markdown-editor.css" rel="stylesheet" />
<link href="~/lib/highlight/highlight.min.css" rel="stylesheet" />
<br />
<h2 style="text-align:center">Edit "@Model.TitleComposition" composition</h2>
<br />
<form asp-action="Edit" asp-controller="Composition">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Author</label>
                <div class="col-sm-10">
                    <input type="text" name="Author" value="@Model.Author" class="form-control" id="author" placeholder="Enter author">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Title composition</label>
                <div class="col-sm-10">
                    <input type="text" name="TitleComposition" value="@Model.TitleComposition." class="form-control" id="titleComposition" placeholder="Enter title composition">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Short Description</label>
                <div class="col-sm-10">
                    <textarea id="kv-01" rows="15" class="markdown">@Model.ShortDescription</textarea>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Fandom</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fandom" value="@Model.Fandom" name="Fandom" placeholder="Enter fandom">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tags</label>
                <div class="col-sm-10">
                    <div class="frmSearch">
                        <div id="tags">
                            @for (var i = 0; i < Model.Tags.Count; i ++)
                            {
                                <div class="tag">
                                    <input name="Tags[@i].TagName" value="@Model.Tags[i].TagName" readonly />
                                    <input type="hidden" name="Tags[@i].Id" value="@Model.Tags[i].Id" />
                                </div>
                            }
                        </div>
                        <p>
                            <input type="text" id="tag" class="form-control" placeholder="Enter tag" />
                        </p>
                        <span id="addTag" value="@Model.Id">Add tag</span>
                        @*@Html.ActionLink("Add", "ChapterAdd", "Composition", routeValues:  new { id = Model.Id }, new { @class = "btn btn-secondary" })*@
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Chapter</label>
                <div class="col-sm-10">
                    @*@Html.ActionLink("Add", "ChapterAdd", "Composition", routeValues: null, new { @class = "btn btn-secondary" })*@
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">Edit</button>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
@*   <script src="http://twemoji.maxcdn.com/2/twemoji.min.js?11.0"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="~/lib/purify/purify.min.js"></script>

    <script src="~/lib/markdown-it/markdown-it.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it-deflist.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it-footnote.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it-abbr.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it-sub.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it-sup.min.js"></script>


    <script src="~/lib/markdown-it/markdown-it-ins.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it-mark.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it-smartarrows.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it-checkbox.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it-cjk-breaks.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it-emoji.min.js"></script>
    <script src="~/lib/highlight/highlight.min.js"></script>

    <script src="~/lib/markdown-it/markdown-editor.js"></script>

<script type="text/javascript" src="~/js/composition.js"></script>
@*<script src="~/lib/locales/en.js"></script>
    <script src="~/lib/locales/ru.js"></script>*@
<style>
    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        display: none;
        min-width: 160px;
        padding: 4px 0;
        margin: 0 0 10px 25px;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #000;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-menu-item > div {
        color: #000;
    }

    .ui-helper-hidden-accessible {
        display: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }
</style>