@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model FanFics.ViewModels.CompositionViewModel

@{
    ViewBag.Title = @Localizer["EditСomposition"];
}

<link href="~/css/composition.css" rel="stylesheet" />
<br />
<h2 style="text-align:center">@Localizer["Edit"] "@Model.TitleComposition" @Localizer["Сomposition"]</h2>
<br />
<form asp-action="Edit" asp-controller="Composition">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["Author"]</label>
                <div class="col-sm-10">
                    <input type="text" name="Author" value="@Model.Author" class="form-control" id="author" placeholder="Enter author">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["Title"]</label>
                <div class="col-sm-10">
                    <input type="text" name="TitleComposition" value="@Model.TitleComposition." class="form-control" id="titleComposition" placeholder="Enter title composition">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["ShortDescription"]</label>
                <div class="col-sm-10">
                    <textarea rows="15" name="ShortDescription" class="form-control">@Model.ShortDescription</textarea>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["Fandom"]</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fandom" value="@Model.Fandom" name="Fandom" placeholder="Enter fandom">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["Tags"]</label>
                <div class="col-sm-10">
                    <div class="frmSearch">
                        <div id="tags">
                            @for (var i = 0; i < Model.Tags.Count; i++)
                            {
                                <div class="tag">
                                    <input name="Tags[@i].TagName" value="@Model.Tags[i].TagName" readonly />
                                    <input type="hidden" name="Tags[@i].Id" value="@Model.Tags[i].Id" />
                                </div>
                            }
                        </div>
                        <p>
                            <input type="text" id="tag" class="form-control" placeholder="Enter tag" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Localizer["Chapters"]</label>
                <div class="col-sm-10">
                    @Html.ActionLink("Add chapter", "ChapterAdd", "Composition", routeValues: new { id = Model.Id }, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">@Localizer["Edit"]</button>
    </div>
</form>
@Html.ActionLink("Back", "Index", "Profile", routeValues: null, new { @class = "btn btn-secondary" })
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="~/js/composition.js"></script>