@using Microsoft.AspNetCore.Mvc.Localization
@using CloudinaryDotNet;

@inject IViewLocalizer Localizer
@inject Cloudinary Cloudinary

@model FanFics.ViewModels.ProfileViewModel

@{
    ViewBag.Title = @Localizer["Profile"];
}

<link href="~/css/profile.css" rel="stylesheet" />
<br />
<h2>@Localizer["Profile"]</h2>
<br />
<div class="row justify-content-around">
    <div class="col-2">
        <div id="logo">
            @Html.Raw(Cloudinary.Api.UrlImgUp.Signed(true).Secure().Action("fetch").BuildImageTag("https://res.cloudinary.com/dzlq0fj8z/image/upload/v1625767129/npwbqqvdc6snjqyepfe1.png"))
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3 col-2" style="width: 39rem; height: 15rem;">
        <div class="card-header">@Localizer["Data"]</div>
        <div class="card-body">
            <div class="form-group row">
                <label for="email" class="col col-form-label">@Localizer["Email"]</label>
                <div class="col">
                    <p class="">@Model.User.Email</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="nickname" class="col col-form-label">@Localizer["Nickname"]</label>
                <div class="col">
                    <p class="editable-text">@Model.User.NickName</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="fullName" class="col col-form-label">@Localizer["FullName"]</label>
                <div class="col">
                    <p class="editable-text-fullname">@Model.User.FullName</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="birthday" class="col col-form-label">@Localizer["Birthday"]</label>
                <div class="col">
                    <p class="datepicker">@Model.User.BirthDay.ToShortDateString()</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<h2 style="text-align:center">@Localizer["ListCompositions"]</h2>
<br />
<div class="row ">
    <div class="col">
        @using (Html.BeginForm("Index", "Profile", FormMethod.Get))
        {
        <p class="lead">
            @Localizer["Find"]: @Html.TextBox("TitleComposition", ViewBag.CurrentFilter as string)
            <input class="btn btn-secondary" type="submit" value="Search" />
        </p>
        }
    </div>
    <div class="col">
        @Html.ActionLink("Add", "Index", "Composition", routeValues: null, new { @class = "btn btn-secondary" })
        @Html.ActionLink("Add new tag", "Index", "Tags", routeValues: null, new { @class = "btn btn-secondary" })
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
            </th>
            <th scope="col">
                @Html.ActionLink("Fandom", "Index", new { sortOrder = ViewBag.FandomSortParm })
            </th>
            <th scope="col">@Localizer["ShortDescription"]</th>
            <th scope="col">
                @Html.ActionLink("Date added", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th scope="col">-</th>
            <th scope="col">-</th>
            <th scope="col">-</th>
            <th scope="col">-</th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model.Compositions)
        {
            <tr class="table-light">
                <td>@(rowNo += 1)</td>
                <td>@item.TitleComposition</td>
                <td>@item.Fandom</td>
                <td>@item.ShortDescription</td>
                <td>@item.DateAdded</td>
                <td>@Html.ActionLink("Edit", "Edit", "Composition", routeValues: new { id = item.Id }, new { @class = "btn btn-outline-secondary" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Composition", routeValues: new { id = item.Id }, new { @class = "btn btn-outline-secondary" })</td>
                <td>@Html.ActionLink("Readonly", "Readonly", "Composition", routeValues: new { id = item.Id }, new { @class = "btn btn-outline-secondary" })</td>
                <td>@Html.ActionLink("Сhapters", "Chapters", "Chapter", routeValues: new { compositionId = item.Id }, new { @class = "btn btn-outline-secondary" })</td>
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery.jeditable/jquery.jeditable.js"></script>
<script src="~/lib/jquery.jeditable/jquery.jeditable.autogrow.js"></script>
<script src="~/lib/jquery.jeditable/jquery.jeditable.datepicker.js"></script>
<script src="~/js/profile.js"></script>
